@-ms-viewport{
  width: device-width;
}

body {
  background: #0D1933;
  color: white;
  margin: 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
}

p {
  font-family: helv;
  font-size: 12px;
  line-height: 2;
}

section {
  margin-top: 50px;
}

@font-face {
  font-family: bazar;
  src: url(../fonts/Bazar.ttf);
}

@font-face {
  font-family: helv;
  src: url(../fonts/HelveticaNeue.ttf);
}

.roz {
  font-family: bazar;
  letter-spacing: 2px;
}

.helv {
  font-family: helv;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0px 50px;
}

.social-icons {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons span {
  background-size: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  width:20px;
  height:20px;
  display: block;
  opacity: 0.3;
}

.social-icons span:hover {
  opacity: 1;
}

.twitter-icon {
  background-image:url(../assets/icons/twitter_i.png);
}

.facebook-icon {
  background-image:url(../assets/icons/face_i.png);
}

.whatsapp-icon {
  background-image:url(../assets/icons/whatsapp_i.png);
}

#pagination {
    clear:both;
    width:75px;
    margin:5px auto 0;
    padding:0;
}

#pagination li {
    list-style:none;
    float:left;
    margin:0 2px;
}

#pagination li a {
    display:block;
    width:10px;
    height:10px;
    text-indent:-10000px;
    background: #838992;
    opacity: 0.4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#pagination li a.active {
    background: #838992;
    opacity: 1;
}

/* Burger Menu */
.burger {
  top: 30px;
  left: 20px;
  z-index: 9999;
  position: fixed;
  color: white;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: : 2px solid white;
  width: 20px;

  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  width:100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  width:100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open {
  border-bottom: 2px solid transparent;
  transition: : border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger.open:before {
  transform: rotate(-405deg) translateY(3px) translateX(-4px);
  -webkit-transform: rotate(-405deg) translateY(3px) translateX(-4px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open:after {
  transform: rotate(405deg) translateY(-1px) translateX(-2px);
  -webkit-transform: rotate(405deg) translateY(-1px) translateX(-2px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

/* Navigation */

#nav {
  width: 0px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  background-color: #0D1933;
  transition: width 0.75s ease-in-out;
}

#nav.open {
  width: 100%;
  transition: width 0.75s ease-in-out;
}

.navigation {
  /*display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
*/
  margin-top: 80px;
  padding-left: 3em;
  padding-right: 3em;
  position: relative;
 /* margin: 0 auto;
  overflow: hidden;
  height: 100%;
  width: 100%;*/
  left: -1000px;
  transition: left 0.75s ease-in;
}

.navigation.open {
  left: 0px;
  transition: left 0.75s ease-in-out;
}

.navigation ul {
  margin: 10px 0;
  padding: 0;
}

.navigation li {
  padding: 0px;
  list-style: none;
  font-size: 20px;
  line-height: 35px;
  color: white;
  margin-bottom: 10px;
}

.navigation li a {
  color: white;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: underline;
}

.nav-number {
  line-height: 14px;
}

.nav-footer .number {

}

.nav-footer .line {

}

.line {
  border-top: 2px solid #838992;
  height: 6px;
  padding: 0px;
  padding-left: 28px;
  display: inline-block;
}

.number {
  font-size: 12px;
  color: #838992;
}

.nav-text {
  font-size: 25px;
}

/* SECTION 1 */

.skip-btn {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  cursor: pointer;
}

video {
width: 100%;
}

.card {
  width: 200px;
  display: block;
  margin: auto;
}

/* SECTION 2 */

.social-icons-wrapper {
  position: absolute;
  top: 20px;
  width: 100%;
}







