html, body {
  color: #AFC2C3;
  margin: 0;
  background: #8A2E25;
  height: 100%;
}

h1 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: bazar;
  margin: 0;
}

h2 {
  font-size:70px;
  line-height: 75px;
  color: #D8D8D8;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

p {
  font-family: helv;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none !important;
}

section {
  padding: 0;
}

.container {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.title-section {
  font-family: bazar;
  letter-spacing: 2px;
  font-size:40px;
  line-height: 40px;
  color: #D8D8D8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 25px;
}

#section1 {
  background: linear-gradient(0deg, rgba(139, 49, 37, 0.8), rgba(211, 149, 129, 0.8));
  position: relative;
}

#section1::after {
  content: "";
  background: url(../assets/textures/DECO-low.jpg) center center repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#section2 {
  background: linear-gradient(0deg, rgba(60, 14, 8, 0.8), rgba(139, 49, 37, 0.8));
  position: relative;
}

#section2::after {
  content: "";
  background: url(../assets/textures/WWW-low.jpg) center center repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#section3 {
  position: relative;
}

#section3::after {
  content: "";
  background: url(../assets/textures/MADEIRA-low.jpg) center center repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#section4 {
  background: rgba(210, 148, 128, 0.8);
  position: relative;
}

#section4::after {
  content: "";
  background: url(../assets/textures/WWW-low.jpg) center center repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#section5 {
  background: linear-gradient(0deg, rgba(139, 49, 37, 0.8), rgba(211, 149, 129, 0.8));
  position: relative;
}

#section5::after {
  content: "";
  background: url(../assets/textures/DECO-low.jpg) center center no-repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#section6 {
  background: linear-gradient(0deg, rgba(60, 14, 8, 0.8), rgba(139, 49, 37, 0.8));
  position: relative;
}

#section6::after {
  content: "";
  background: url(../assets/textures/WWW-low.jpg) center center no-repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@font-face {
  font-family: bazar;
  src: url(../fonts/Bazar.ttf);
}

@font-face {
  font-family: helv;
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: helv-med;
  src: url(../fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: cinnebar;
  src: url(../fonts/DKCinnabarBrush.ttf);
}

.roz {
  font-family: bazar;
  letter-spacing: 2px;
}

.helv {
  font-family: helv;
}

.helv-med {
  font-family: helv-med;
}

.cinnebar {
  font-family: cinnebar;
}

.text-light {
  color: #F3F8F8;
}

.text-highlight {
  /*background-color: rgba(93, 93, 93, 0.5);*/
  background-color: #353434;
}

#nav-social-icons {
  margin-top: 50px;
}

.social-icons {
  list-style: none;
  position: relative;
  text-align: center;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons span {
  font-size: 30px;
  font-weight: lighter;
  color: #b94231;
  width:30px;
  height:30px;
  display: block;
  text-align: center;
  vertical-align: middle;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.social-icons span:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.twitter-icon:hover {
  color: #0084b4;
}

.facebook-icon:hover {
  color: #3B5998;
}

.whatsapp-icon:hover {
  color: #34af23;
}

/*.skip-icon {
  font-size: 60px;
  color: white;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  display: block;
  position: absolute;
  bottom: 50px;
  right: calc( 100vw / 2);
  z-index: 999;
}*/

.tool-icon {
  font-size: 40px;
  color: white;
  position: relative;
}

.tool-icon:hover {
  top: -5px;
}

.video-icons {
  color: white;
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 100000;
  transition: opacity 2s linear;
  transform:translate(0);
}

.video-icons svg {
  opacity: 0.5;
  margin-left: 10px;
}

.video-icons svg:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.video-icons.show {
  display: block;
}

.pagination1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  clear:both;
  width:75px;
  margin:5px auto 0;
  padding:0;
}

.pagination1 li {
  list-style:none;
  float:left;
  margin:0 2px;
}

.pagination1 li a {
  display:block;
  width:10px;
  height:10px;
  text-indent:-10000px;
  background: #9FB5B6;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  border-radius: 10px;
}

.pagination1 li a.active {
    background: #9FB5B6;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* Burger Menu */

.topmenu {
  width: 100%;
  height: 50px;
  z-index: 9999;
  position: absolute;
  top: 0;
  left:0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  transition: all 0.4s ease-in-out;
}

.topmenu.active {
  position: fixed !important;
  background: #D16B59;
  /*box-shadow: 0 4px 6px -6px black;*/
  transition: all 0.4s ease-in-out;
}

.burger {
    color: white;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  width: 20px;

  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
  -o-transition: border-bottom 1s ease-in-out;
  -moz-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  width:100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  width:100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger.open:before {
  transform: rotate(-405deg) translateY(3px) translateX(-4px);
  -webkit-transform: rotate(-405deg) translateY(3px) translateX(-4px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open:after {
  transform: rotate(405deg) translateY(-1px) translateX(-2px);
  -webkit-transform: rotate(405deg) translateY(-1px) translateX(-2px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

/* Navigation */

#nav {
  width: 0px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  -webkit-transition: width 0.75s ease-in-out;
  transition: width 0.75s ease-in-out;



  /* Fallback */
  background-color: #D16B59;
  /*background: url(../assets/images/linear_bg.png);
  background-repeat: repeat-x;*/

  /* Safari 4-5, Chrome 1-9 */
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F2525), to(#A8C6C6));*/

  /* Safari 5.1, Chrome 10+ */
  /*background: -webkit-linear-gradient(top, #1F2525, #A8C6C6);*/

  /* Firefox 3.6+ */

  /* IE 10 */

  /* Opera 11.10+ */
  /*background: -o-linear-gradient(top, #1F2525, #A8C6C6);*/
}

#nav.open {
  width: 100%;
  -webkit-transition: width 0.75s ease-in-out;
  transition: width 0.75s ease-in-out;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-top: 60px;
  position: relative;
  left: -1000px;
  -webkit-transition: left 0.75s ease-in;
  transition: left 0.75s ease-in;
}

.navigation.open {
  left: 0px;
  -webkit-transition: left 0.75s ease-in-out;
  transition: left 0.75s ease-in-out;
}

.nav-content {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 10px;
}

.navigation ul {
  margin: 10px 0;
  padding: 0;
}

.navigation li {
  padding: 0px;
  list-style: none;
  font-size: 20px;
  line-height: 35px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.navigation li a {
  color: #f3f8f8;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: none;
  color: #353434;
}

.nav-number {
  line-height: 14px;
}

.line {
  height: 6px;
  padding: 0px;
  padding-left: 28px;
  display: inline-block;
}

.thin {
  border-top: 2px solid #FFFBFB;
}

.thick {
  border-top: 4px solid #D16B59;
}

.number {
  font-size: 12px;
}

.heading {
  font-size: 20px;
  line-height: 25px;
  font-family: bazar;
  text-transform: uppercase;
  color: #D8D8D8;
}

.nav-text {
  font-size: 20px;
  color: #f3f8f8;
}

.nav-text:hover {
  color: #5D5D5D;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos {
  height: 50px;
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.logos:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  display: block;
}

#cards {
  margin-top: 30px;
  position: relative;
  padding: 0 20px;
}

#cards-imgs {
  margin-top: 80px;
}

.card {
  width: 260px;
  display: block;
  margin: 0 auto;
}

.front {
  z-index: 4;
}

.second {
  position: absolute;
  top: 0;
  left: calc(50% - 130px);
  z-index: 3;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
}

.third {
  position: absolute;
  top: 0;
  left: calc(50% - 130px);
  z-index: 2;
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
}

.back {
  position: absolute;
  top: 0;
  left: calc(50% - 130px);
  z-index: 1;
}

#drag-left {
  position: absolute;
  left: 0;
  top: calc(50% - 20px);
}

#drag-right {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
}

.arrow {
  fill: #FFFFFF;
}

.arrow:hover {
  fill: #D26D59 !important;
}

.drag-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  height: 40px;
  width: 40px;
}

#quotes {
  min-height: 350px;
}

.quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote {
  width: 260px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.quote-lg {
  width: 360px;
}

#stats {
  margin: 30px 0 20px 0;
  position: relative;
  padding: 0 20px;
  height: 350px;
}

.stat {
  width: 260px;
  display: block;
  margin: auto;
  cursor: pointer;
}



/* Glitch */
@keyframes glitch {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  43% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes glitch-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes glitch-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

.glitch {
    font-family: cinnebar;
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    text-transform: uppercase;
    color: white;
    width: 98%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: glitch 2s linear infinite;
    overflow: default;
}

.glitch:after {
    content: attr(data-text);
    font-size: 1em;
    font-style: italic;
    width: 99%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    opacity: 0;
    color: blue;
    animation: glitch-1 .2s linear infinite;
}

.glitch:before {
    content: attr(data-text);
    font-size: 1em;
    font-style: italic;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: red;
    animation: glitch-2 .2s linear infinite;
}

/* Stats */

/* Scrollmagic */

#horizontal-s {
  overflow: hidden;
  position: relative;
  height: 100%;
}

#horizontal-content a {
  color: white;
  font-family: inherit;
}

.painel {
  background: rgba(139, 49, 37, 0.8);
  position: relative;
  text-align: left;
  float: left;
  height: 100vh;
}

.painel::after {
  content: "";
  background: url(../assets/textures/MADEIRA-low.jpg) center center repeat;
  background-blend-mode: multiply;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#s01 {
  width: 1600px;
  padding: 50px 0px 0px 100px;
}

#s02 {
  width: 900px;
}

#s03 {
  width: 1600px;
}

#s04 {
  width: 1050px;
}

#s05 {
  width: 800px;
}

#s1data01 {
  position: absolute;
  top: 72%;
}

#s1data01 p {
  display: inline-block;
}

#s1data01 > p:nth-child(1) {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 105px;
  margin-right: 5px;
}

#s1data01 > p:nth-child(2) {
  width: 250px;
  font-family: helv;
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  position: absolute;
  bottom: 0;
}

#s1data01 .porcent {
  font-size:110px;
}

#s1data01 .porcenticon {
  font-size: 55px;
}

#s1data02 {
  position: absolute;
  top: 10%;
  margin-left: 600px;
}

#s1data02 p {
  width: 300px;
}

#s1data02 > p:nth-child(2) {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 105px;
  margin-bottom: 0px;
}

#s1data02 > p:nth-child(3) {
  font-family: helv;
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
}

#s1data02 .porcent {
  font-size:100px;
}

#s1data02 .porcenticon {
  font-size: 50px;
}

#s1data03 {
  position: absolute;
  top: 52%;
  margin-left: 1000px;
}

#s1data03 > p:nth-child(1) {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 145px;
  margin-right: 5px;
  float: left;
  margin-bottom: 0;
  vertical-align: text-bottom;
}

#s1data03 > p:nth-child(2) {
  width: 250px;
  font-family: helv;
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  float: right;
}

#s1data03 > p:nth-child(3) {
  width: 450px;
  font-family: helv;
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  clear: both;
  position: absolute;
  left: 25px;
  bottom: -55px;
}

#s1data03 .porcent {
  font-size:140px;
}

#s1data03 .porcenticon {
  font-size: 70px;
}

#s2data01 {
  position: absolute;
  top: 20%;
}

#s2data01 div > p:nth-child(2) {
  width: 250px;
  font-family: helv;
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  width: 200px;
}

#s2data01 .porcent {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 240px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: text-bottom;
  font-size:240px;
}

#s2data01 .porcenticon {
  font-family: bazar;
  color: white;
  vertical-align: text-bottom;
  font-size: 50px;
  line-height: 50px;
}

#s2data02 {
  position: absolute;
  top: 50%;
  margin-left: 500px;
}

#s2data02 p {
  font-family: helv;
  color: white;
  text-align: left;
  width: 400px;
}

#s2data02 > p:nth-child(1) {
  font-family: helv;
  font-size: 20px;
  line-height: 25px;
}

#s2data02 .porcent {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 140px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: text-bottom;
  font-size:140px;
}

#s2data02 .porcenticon {
  font-family: bazar;
  color: white;
  vertical-align: text-bottom;
  font-size: 70px;
  line-height: 70px;
}

#s3data01 {
  position: absolute;
  top: 10%;
}

#s3data02 {
  position: absolute;
  top: 50%;
  margin-left: 600px;
}

#s3data02 p {
  font-family: helv;
  color: white;
  text-align: left;
  width: 400px;
  font-size: 20px;
  line-height: 25px;
}

#s3data02 .porcent {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 140px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: text-bottom;
  font-size:140px;
}

#s3data02 .porcenticon {
  font-family: bazar;
  color: white;
  vertical-align: text-bottom;
  font-size: 70px;
  line-height: 70px;
}

#s3data03 {
  position: absolute;
  top: 10%;
  margin-left: 1000px;
}

#s3text {
  position: absolute;
  top: 24%;
  margin-left: 220px;
}

#s3text p {
  font-family: helv;
  color: white;
  text-align: left;
  width: 350px;
  font-size: 18px;
  line-height: 20px;
}

#s3text .porcent {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 120px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: text-bottom;
  font-size:120px;
}

#s3text .porcenticon {
  font-family: bazar;
  color: white;
  vertical-align: text-bottom;
  font-size: 60px;
  line-height: 60px;
}

#s4data01 {
  position: absolute;
  top: 25%;
}

#s4data02 {
  position: absolute;
  top: 15%;
  margin-left: 500px;
  width: 450px;
}

#s4data02 p {
  font-family: helv;
  color: white;
  text-align: left;
  width: 350px;
  font-size: 20px;
  line-height: 25px;
}

#s4data02 .porcent {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 200px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: text-bottom;
  font-size:200px;
}

#s4data02 .porcenticon {
  font-family: bazar;
  color: white;
  vertical-align: text-bottom;
  font-size: 70px;
  line-height: 70px;
}

#s5data01 {
  position: absolute;
  top: 22%;
}

#s5data02 {
  position: absolute;
  top: 15%;
  margin-left: 400px;
}

#s5data02 p {
  font-family: helv;
  color: white;
  text-align: left;
  width: 400px;
  font-size: 20px;
  line-height: 25px;
}

#s5data02 .porcent {
  font-family: bazar;
  color: white;
  text-align: left;
  line-height: 140px;
  margin-right: 5px;
  margin-bottom: 0;
  vertical-align: text-bottom;
  font-size:140px;
}

#s5data02 .porcenticon {
  font-family: bazar;
  color: white;
  vertical-align: text-bottom;
  font-size: 70px;
  line-height: 70px;
}

.stat-highlight {
  color: black;
  background: #ABBEBD;
}

.rec-card {
  margin: 10px;
  background: #4F4B4C;
  padding: 20px;
  color: #F3F8F8;
  font-size: 20px;
  line-height: 25px;
}

.intro-text {
  font-size: 20px;
  line-height: 28px;
  font-family: helv-med;
  color: #F9F7F8;
}

/* Contact Form */

#contact-area {
  padding-right: calc((100% - 800px) / 2);
  padding-left: calc((100% - 800px) / 2);
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  color: black;
  margin: 0px auto;
  border: 2px solid #ccc;
  background-color: #D8D8D8;
}

#contact-area textarea {
  height: 90px;
}

/*#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #900;
}*/

#contact-area input.submit-button {
  width: 100px;
  display: block;
  border: none;
  color: white;
  font-size: 25px;
  font-family: bazar;
  text-transform: uppercase;
  background: none;

}

label {
  color: white;
  display: block;
  text-align: left;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  padding-top: 5px;
  font-size: 25px;
  font-family: bazar;
  text-transform: uppercase;
}

.text-box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.text-box {
  background-color: #B94231;
  margin-top: 10px;
  width: 80%;
  height: 100px;
  padding: 10px;
  text-transform: uppercase;
  font-family: bazar;
  font-size: 15px;
  line-height: 26px;
  color: #F5F5F5;
}

.line-box {
  background-color: #B94231;
  margin-left: 5px;
  margin-right: 5px;
  width: 20%;
  height: 10px;
}



/* Media */

/*@media screen and (max-height: 480px) {
  .navigation {
    height: 60px;
    margin-top: 30px;
  }

  .nav-text {
    font-size: 18px;
  }

  #nav-social-icons {
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 20px;
  }

  .nav-menu {
    margin-bottom: 0;
  }
}
*/
@media screen and (min-height: 600px){
  .navigation {
    height: 80%;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {

  h2 {
    font-size: 115px;
    line-height: 120px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  .container {
    padding: 0px 50px;
  }

  .burger {
    top: 50px;
    left: 40px;
    width: 40px;
  }

  .burger:before {
    border-bottom: 4px solid white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }

  .burger:after {
    border-bottom: 4px solid white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }

  .burger.open {
    border-bottom: 4px solid transparent;
  }

  .burger.open:before {
    transform: rotate(-405deg) translateY(8px) translateX(-8px);
    -webkit-transform: rotate(-405deg) translateY(8px) translateX(-8px);
  }

  .burger.open:after {
    transform: rotate(405deg) translateY(-1px) translateX(-2px);
    -webkit-transform: rotate(405deg) translateY(-1px) translateX(-2px);
  }

  .navigation.open {
    height: 100%;
    margin-top: 60px;
  }

  .navigation li {
    margin-bottom: 20px;
  }

  .nav-number {
    line-height: 16px;
  }

  .line {
    height: 8px;
  }

  .number {
    font-size: 14px;
  }

  .title-section {
    font-size:70px;
    line-height: 75px;
    margin-bottom: 50px;
  }

  .heading {
    font-size: 25px;
    line-height: 30px;
  }

  .nav-text {
    font-size: 30px;
    line-height: 40px;
  }

  .nav-footer {
    margin-top: 80px;
  }

  #cards {
    padding: 0 50px;
  }

  .card {
    width: 380px;
  }

  #quotes {
    margin-top: 50px;
  }

  .quote {
    width: 480px;
  }

  #stats {
    margin-top: 50px;
  }

  .stat {
    width: 480px;
  }

  .second {
    left: 15%;
  }

  .third {
    left: 15%;
  }

  .back {
    left: 15%;
  }

  .drag-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    padding: 20px;
    height: 80px;
    width: 80px;
  }

  .drag-info svg {
    height: 60px;
    width: 60px;
  }

  #drag-left {
    left: 0px;
    top: calc(50% - 20px);
  }

  #drag-right {
    right: 0px;
  }

  .pagination1 li a {
    width:15px;
    height:15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  .social-icons span {
    font-size: 60px;
    font-weight: lighter;
    width:60px;
    height:60px;
  }

  .glitch {
    font-size: 40px;
    line-height: 45px;
  }

  .text-box-wrapper {
    flex-direction: row;
  }

  .text-box {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 150px;
    font-size: 20px;
  }

  .rec-card {
    font-size: 25px;
    line-height: 33px;
  }
}





