@-ms-viewport{
  width: device-width;
}

body {
  color: white;
  margin: 0;

  /* Fallback */
  background-color: #9FB5B6;
  background: url(../assets/images/linear_bg.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9FB5B6), to(#151A1A));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #9FB5B6, #151A1A);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #9FB5B6, #151A1A);

  /* IE 10 */
  background: -ms-linear-gradient(top, #9FB5B6, #151A1A);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #9FB5B6, #151A1A);
}

h2 {
  font-size:30px;
  line-height: 35px;
  color: #D26D59;
  text-shadow: 1px 2px #343434;
}

p {
  font-family: helv;
  font-size: 12px;
  line-height: 2;
  font-weight: lighter;
}

section {
  margin-top: 50px;
}

@font-face {
  font-family: bazar;
  src: url(../fonts/Bazar.ttf);
}

@font-face {
  font-family: helv;
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: helv-med;
  src: url(../fonts/HelveticaNeue-Medium.ttf);
}

.roz {
  font-family: bazar;
  letter-spacing: 2px;
}

.helv {
  font-family: helv;
}

.helv-med {
  font-family: helv-med;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-dark {
  color: #181818;
  font-weight: bold;
}

.text-light {
  color: #F8F8F8;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0px 50px;
}
/*
#nav-social-icons.open {
  position: absolute;
  top: 30px;
  left: 20px;
}*/

#nav-social-icons {

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.social-icons {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:
  justify-content: center;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons span {
  background-size: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  width:20px;
  height:20px;
  display: block;
  opacity: 0.3;
}

.social-icons span:hover {
  opacity: 1;
}

.twitter-icon {
  background-image:url(../assets/icons/twitter_i.png);
}

.facebook-icon {
  background-image:url(../assets/icons/face_i.png);
}

.whatsapp-icon {
  background-image:url(../assets/icons/whatsapp_i.png);
}

#pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  clear:both;
  width:75px;
  margin:5px auto 0;
  padding:0;
}

#pagination li {
  list-style:none;
  float:left;
  margin:0 2px;
}

#pagination li a {
  display:block;
  width:10px;
  height:10px;
  text-indent:-10000px;
  background: #838992;
  opacity: 0.4;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#pagination li a.active {
    background: #838992;
    opacity: 1;
}

/* Burger Menu */
.burger {
  top: 30px;
  left: 20px;
  z-index: 9999;
  position: fixed;
  color: white;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: : 2px solid white;
  width: 20px;

  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  width:100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  width:100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open {
  border-bottom: 2px solid transparent;
  transition: : border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger.open:before {
  transform: rotate(-405deg) translateY(3px) translateX(-4px);
  -webkit-transform: rotate(-405deg) translateY(3px) translateX(-4px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open:after {
  transform: rotate(405deg) translateY(-1px) translateX(-2px);
  -webkit-transform: rotate(405deg) translateY(-1px) translateX(-2px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

/* Navigation */

#nav {
  width: 0px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  transition: width 0.75s ease-in-out;

  /* Fallback */
  background-color: #1F2525;
  /*background: url(../assets/images/linear_bg.png);
  background-repeat: repeat-x;*/

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F2525), to(#A8C6C6));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #1F2525, #A8C6C6);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #1F2525, #A8C6C6);

  /* IE 10 */
  background: -ms-linear-gradient(top, #1F2525, #A8C6C6);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #1F2525, #A8C6C6);
}

#nav.open {
  width: 100%;
  transition: width 0.75s ease-in-out;
}

.navigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  margin-top: 60px;
  position: relative;
  left: -1000px;
  transition: left 0.75s ease-in;
}

.navigation.open {
  left: 0px;
  transition: left 0.75s ease-in-out;
}

.nav-content {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 10px;
}

.navigation ul {
  margin: 10px 0;
  padding: 0;
}

.navigation li {
  padding: 0px;
  list-style: none;
  font-size: 20px;
  line-height: 35px;
  color: white;
  margin-bottom: 10px;
}

.navigation li a {
  color: #D16B59;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: none;
  color: #D16B59;
}

.nav-number {
  line-height: 14px;
}

.line {
  height: 6px;
  padding: 0px;
  padding-left: 28px;
  display: inline-block;
}

.thin {
  border-top: 2px solid #FFFBFB;
}

.thick {
  border-top: 4px solid #D16B59;
}

.number {
  font-size: 12px;
  /*color: #838992;*/
}

.nav-text {
  font-size: 20px;
  color: #D16B59;
  text-shadow: 1px 1px 2px grey;
}

video {
width: 100%;
}

#cards {
  position: relative;
}

.card {
  width: 200px;
  display: block;
  margin: auto;
}

.front {
  z-index: 2;
}

.back {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  z-index: -1;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
}

#drag-left {
  position: absolute;
  left: -40px;
  top: calc(50% - 20px);
}

#drag-right {
  position: absolute;
  right: -40px;
  top: calc(50% - 20px);
}

.drag-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  border: 1px solid grey;
  border-radius: 50%;
  padding: 20px;
  height: 40px;
  width: 40px;
}

/* Media */

@media screen and (max-height: 480px) {
  .navigation {
    height: 60px;
    margin-top: 30px;
  }

  .nav-text {
    font-size: 18px;
  }

  #nav-social-icons {
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .nav-menu {
    margin-bottom: 0;
  }
}

@media screen and (min-height: 600px){
  .navigation {
    height: 80%;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  #nav.open {
    width: 33%;
    transition: width 0.75s ease-in-out;
  }
}





